.header {
  background-color: #1b324f;
}

body {
  font-family: GT America;
  font-size: 12pt;
  background-color: white;
}

title {
  font-family: Cooper Lt BT;
  color: #1b324f;
  font-size: 25pt;
  background-color: white;
}

h1 {
  font-family: Cooper Lt BT;
  color: #1b324f;
  font-size: 25pt;
  background-color: white;
}

ul {
  background-color: white;
}

li a {
  background-color: white;
  color: #00c082;
}

li a:hover:not(.active) {
  background-color: white;
  color: #1b324f;
}

.active {
  background-color: white;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    background-color: #1b324f;
}
